.align-items-center {
  align-items: center;
}

.bar {
  height: 12px;
  width: 12px;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-auto {
  flex: auto;
}

.flex-column {
  flex-direction: column;
}

.gap-30-px {
  gap: 30px;
}

.list-style-type-none {
  list-style-type: none;
}

.width-half {
  width: 50%;
}
